.rTable {
  display: table;
  margin: 10px auto;
  outline: 1px solid black;
  border-top: 0.1px solid #000000;
  border-left: 0.1px solid #000000;
  border-right: 0.1px solid #000000;
}

.rTableHeading {
  display: table-header-group;
}

.rTableHead {
  display: table-cell;
  border-bottom: 0.1px solid #000000;
  background-color: rgb(235, 235, 235);
  font-weight: bold;
  cursor: pointer;
  padding: 10px 6px;
}

.rTableRow {
  display: table-row;
}

.rTableRow:nth-child(odd) {
  background-color: rgb(250, 250, 250);
}

.rTableCell {
  display: table-cell;
  padding: 7px 10px;
  border-bottom: 0.1px solid #000000;
}

.rarrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 5px;
}
.rup {
  margin-bottom: -1px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.rdown {
  margin-bottom: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.rhide {
  visibility: hidden;
}
